.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 16px 48px;
  border-radius: 16px;
  gap: 8px;
  border: 4px solid black;
}

.title {
  font-size: 1.5rem;
}

.price {
  font-size: 2rem;
  color: var(--price);
  font-weight: bold;
}
