.container {
  display: flex;
  flex-direction: column;
}

.gallery {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}

.picture {
  font-size: 8rem;
}
