.buyButton {
  font-size: 1.5rem;
  background-color: var(--primary);
  border-radius: 16px;
  color: white;
  width: 100%;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: var(--shadow);
  transition: all ease-in 0.3s;
}

.buyButton:hover {
  transform: scale(1.01);
}